.wrapper {
    display: flex;
    flex-direction: column;
    padding: 101px 271px 224px 225px;
}

.window {
    max-width: 944px;
    display: flex;
    flex-direction: column;
}

.window__header {
    display: flex;
    justify-content: space-between;
    border-radius: 31px;
    background: #fff;
    box-shadow: 15px 11px 30px 0px rgba(75, 92, 84, 0.14);
    gap: 485px;
    padding: 17px 18px 17px 25px;
}

.header__nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

.window__title {
    margin: 0;
    padding: 87px 0 57px 25px;
    color: #000;
    font-family: Roboto;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.window__body {
    display: flex;
    gap: 202px;
    padding-left: 25px;
}

.window__forms {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form__text {
    margin: 0;
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.form__input {
    width: 350px;
    height: 55px;
    border-radius: 5px;
    border: 1.5px solid #35694f;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.window__description {
    display: flex;
    flex-direction: column;
    padding-top: 31px;
    gap: 25px;
}

.window__description > :nth-child(5) {
    margin-top: 27px;
}

.custom-elements {
    padding-top: 45px;
}

.checkbox {
    width: 21.5px;
    height: 21px;
    padding: 6px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 3px;
    border: 1.5px solid #35694f;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.checkbox-text {
    display: flex;
    height: 19px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.checkbox-custom {
    position: relative;
    padding-left: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-custom input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.checkbox-custom span {
    position: absolute;
    left: 0;
    top: 0;
    width: 21.5px;
    height: 21px;
    background: #fff;
    border-radius: 3px;
    border: 1.5px solid #35694f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.checkbox-custom:hover span {
    background-color: #e3f9ee; /* Твой цвет при наведении */
}

.checkbox-custom input[type="checkbox"]:checked + span {
    background-color: #e3f9ee; /* Фон для активного состояния */
}

.checkbox-custom input[type="checkbox"]:checked + span::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none"><path d="M1 6.5L4.5 10L10.5 1" stroke="%2335694F" stroke-width="2.5"/></svg>');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Дополнительный класс для стиля нажатия */
.checkbox-custom.pressed span::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none"><path d="M1 6.5L4.5 10L10.5 1" stroke="white" stroke-width="2.5"/></svg>');
    background-color: #35694f;
}
